/* .booked-bookings-container {
   margin-top: 90px;
   padding: 30px;
 }
 
 .booking-list {
   list-style-type: none;
   padding: 0;
 }
 
 .booking-item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 10px;
 }
 
 .booking-details {
   flex-grow: 1;
 }
  */